[submodule "Assets/aquamarineart"]
	path = Assets/aquamarineart
	url = https://github.com/khonsaiinc/aquamarineart
[submodule "Assets/aquamarine-script"]
	path = Assets/aquamarine-script
	url = https://github.com/khonsaiinc/aquamarine-script.git
[submodule "Assets/Plugins"]
	path = Assets/Plugins
	url = https://github.com/khonsaiinc/aquamarine-plugins.git
